// Core CSS Reset/MISCS
@import "core/misc";

// Core Declarations
@import "core/variables";

// Core Layouts and Style Definitions
@import "core/general";
@import "core/typography";
@import "core/utilities";

// Core Components
@import "core/components/button";
@import "core/components/badge";
@import "core/components/nav";
@import "core/components/header";
@import "core/components/card";
@import "core/components/page-banner";
@import "core/components/footer";

.embla {
    overflow: hidden;
}
.embla__container {
    display: flex;
}

.embla__slide {
    flex: 0 0 100%; /* Full width by default */
    min-width: 0;
    position: relative;
    width: 100%; /* Ensure each slide is full width */
    overflow: hidden; /* Hide overflow to make images fit better */
    border-radius: 8px;
}

@media (min-width: 1024px) {
    /* sm: 640px and up */
    .embla__slide {
        flex: 0 0 40%; /* 40% width on larger screens */
        margin-right: 12px;
    }
}

// Core Plugins
// @import "plugins/plugin-tailwind";
